.footer {

    background: #222;
    padding: 5% 2% 1% 5%;
}

.footer-texts {

    text-decoration: none;
    color: #999;
}

.footer-texts:hover {

    color: 'blue' !important;
    cursor: pointer;
}

.footer-copy {

    text-align: center;
    color: #999
}